table, th, td {
  border: 0px solid black;
}

body.disabled:before {
   content: "";
   position: fixed;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 1;
   background: rgba(0,0,0, .8);  
}